"" .ideavimrc - Matt Chapman


"" Base Settings
"" ========================================================

set scrolloff=5
set relativenumber
set number
set showmode
set showcmd

set ignorecase
set smartcase
set incsearch
set hlsearch

set visualbell
set ideavimsupport = "dialog"

" Use system clipboard
set clipboard+=unnamed   

let mapleader = " "


"" Plugin Settings
"" ========================================================

set surround
set highlightedyank
###set sneak
set nerdtree

" Easymotion settings
###set easymotion
set notimeout


"" Key mappings
"" ========================================================

" Close active editor
nmap <C-w> <action>(CloseEditor)

" Redo
nnoremap U <C-r>

" Move to beginning/end of line
nnoremap <C-h> ^
nnoremap <C-l> $
vnoremap <C-h> ^
vnoremap <C-l> $

" Exit insert mode
inoremap jk <Esc>
inoremap kj <Esc>

" Move cursor in insert mode
inoremap <C-h> <left>
inoremap <C-l> <right>
inoremap <C-k> <up>
inoremap <C-j> <down>

" Delete character backwards in insert mode
inoremap <C-n> <C-h>

" Delete character forwards in insert mode
inoremap <C-m> <Del>

" Move up and down by x lines
nnoremap J 5j
nnoremap K 5k
vnoremap J 5j
vnoremap K 5k

" Move left and right by x words
nnoremap H 2b
nnoremap L 2w
vnoremap H 2b
vnoremap L 2w

" Scroll up and down
nnoremap <C-j> <C-d>
nnoremap <C-k> <C-u>
nnoremap <C-d> <C-f>
nnoremap <C-f> <C-b>
vnoremap <C-j> <C-d>
vnoremap <C-k> <C-u>
vnoremap <C-d> <C-f>
vnoremap <C-f> <C-b>

" Tab navigation
nnoremap <C-n> :tabnext<CR>
nnoremap <C-m> :tabprev<CR>
vnoremap <C-n> :tabnext<CR>
vnoremap <C-m> :tabprev<CR>

" Move between splits
nnoremap <C-u>
nnoremap <C-u>h <C-w>h
nnoremap <C-u>l <C-w>l
nnoremap <C-u>k <C-w>k
nnoremap <C-u>j <C-w>j
vnoremap <C-u>
vnoremap <C-u>h <C-w>h
vnoremap <C-u>l <C-w>l
vnoremap <C-u>k <C-w>k
vnoremap <C-u>j <C-w>j

" Jump between methods
nnoremap [[ <Action>(MethodUp)
nnoremap ]] <Action>(MethodDown)

" Easy visual indentation
vnoremap < <gv
vnoremap > >gv

" Execute macro saved in 'q' register
nnoremap qj @q

" Popup navigation
"""inoremap <C-j> <Action>(PopupMenu-selectNext)
"""inoremap <C-k> <Action>(PopupMenu-selectPrev)


"" Leader commands
"" ========================================================

" New line
nnoremap <leader>o o<Esc>
nnoremap <leader>O O<Esc>

" Join lines
nnoremap <leader>j J

" Split lines
nnoremap <leader>k i<Enter><Esc>k$

" Remove highlight
map <leader>/ :noh<CR>

" Open register
map <leader>' :reg<CR>

" Comment
map <leader>c <action>(CommentByLineComment)
map <leader>C <action>(CommentByBlockComment)

" Hide window
map <leader>h <action>(HideActiveWindow)

" Jump around with easymotion
"""map <leader>j <Plug>(easymotion-s)

" Open NERDTree (use q to exit)
map <leader>x :NERDTreeToggle<CR>

" Folding
map <leader>zl :action CollapseAllRegions<CR>
map <leader>zo :action ExpandAllRegions<CR>
map <leader>zk <action>(CollapseRegionRecursively)
map <leader>zi <action>(ExpandRegionRecursively)
map <leader>zj :action CollapseRegion<CR>
map <leader>zu :action ExpandRegion<CR>

" Window splits
map <leader>lv <Action>(SplitVertically)
map <leader>ls <Action>(SplitHorizontally)
map <leader>lu <Action>(Unsplit)
map <leader>lm <Action>(MoveEditorToOppositeTabGroup)

" Display options
map <leader>dd <action>(ToggleDistractionFreeMode)
map <leader>de <action>(ToggleZenMode)
map <leader>df <action>(ToggleFullScreen)
" todo: find correct action
" map <leader>ds <action>(ToggleSidebarVisibility)

" Actions (todo, like run debug etc)
map <leader>am <action>(ShowIntentionActions)
map <leader>as <action>(SearchEverywhere)
map <leader>ar <action>(Run)
map <leader>ad <action>(Debug)
map <leader>ap <action>(Stop)

" File navigation
map <leader>ef <action>(GotoFile)
map <leader>er <action>(RecentFiles)
map <leader>ec <action>(FindInPath)
map <leader><leader> <Action>(RecentFiles)
map <leader>el <action>(RecentLocations)
map <leader>es <action>(NewScratchFile)

" Focus window
map <leader>fs <action>(SearchEverywhere)
map <leader>ff <action>(FindInPath)
map <leader>fr <action>(ReplaceInPath)
map <leader>ft <action>(ActivateTerminalToolWindow)
map <leader>fl <action>(ActivateLogcatToolWindow)
map <leader>fe <action>(ActivateProjectToolWindow)
map <leader>fo <action>(SelectInProjectView)
map <leader>fg <action>(ActivateVersionControlToolWindow)
map <leader>fd <action>(ActivateDebugToolWindow)
map <leader>fp <action>(ActivateAndroidProfilerToolWindow)
map <leader>fc <action>(CommanderPopupMenu)

" Close editors
map <leader>ww <action>(CloseEditor)
map <leader>wa <action>(CloseAllEditors)
map <leader>wo <action>(CloseAllEditorsButActive)
map <leader>wr <action>(ReopenClosedTab)
map <leader>wu <action>(CloseAllUnmodifiedEditors)
map <leader>wg <action>(CloseEditorsGroup)

" Select (todo)
"""map <leader>sa <action>()

" Refactor
map <leader>rn <Action>(RenameElement)
map <leader>rm <Action>(ExtractMethod)
map <leader>rv <Action>(IntroduceVariable)
map <leader>rf <Action>(IntroduceField)
map <leader>rs <Action>(ChangeSignature)
map <leader>rr <Action>(Refactorings.QuickListPopupAction)

" Go to code
nmap <leader>gd <Action>(GotoDeclaration)
nmap <leader>gp <Action>(GotoTypeDeclaration)
nmap <leader>gi <Action>(GotoImplementation)
nmap <leader>gy <Action>(GotoSymbol)
nmap <leader>gu <Action>(ShowUsages)
nmap <leader>gt <Action>(GotoTest)
nmap <leader>gf <Action>(Back)
nmap <leader>gb <Action>(Forward)

" New (todo: file, folder, etc)

" Bookmarks
map <leader>ba <action>(Bookmarks)
map <leader>bs <action>(ShowBookmarks)
map <leader>bb <Action>(ToggleBookmark)
map <leader>bn <Action>(GotoNextBookmark)
map <leader>bm <Action>(GotoPreviousBookmark)

" Version control
map <leader>va <Action>(ActivateVersionControlToolWindow)
map <leader>vc <Action>(CheckinProject)
map <leader>vb <Action>(Git.Branches)
map <leader>vs <Action>(Vcs.Show.Shelf)
map <leader>vv <Action>(Vcs.RollbackChangedLines)
map <leader>vr <Action>(Git.Reset)
"""map <leader>gd <Action>(ChangesView.Diff)

" Debug
map <leader>dd <Action>(ToggleLineBreakpoint)
map <leader>da <Action>(ActivateDebugToolWindow)
map <leader>dv <Action>(ViewBreakpoints)
map <leader>dr <Action>(Resume)
map <leader>do <Action>(StepOver)
map <leader>di <Action>(StepInto)
map <leader>du <Action>(StepOut)
"""map <leader>dm <Action>(MuteBreakpoints)
"""map <leader>df <Action>(FocusOnBreakpoint)

" Errors
"""map <leader>en <Action>(ReSharperGotoNextErrorInSolution)
"""map <leader>ep <Action>(ReSharperGotoPrevErrorInSolution)

